@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900;1000&family=Rubik+Doodle+Shadow&family=Single+Day&family=VT323&display=swap');

body {
    margin-top: 150px;
}

::selection {
    background-color: rgb(255, 177, 246);
}

input[type="range"] {
    width: 30px;
}

input[type="text"], input[type="number"] {
    color: rgb(0, 190, 171);
    background-color: white;
    border: 1px solid rgb(0, 190, 171);
    outline: black;
    padding: 7px;
}

input[type="text"]:focus, input[type="number"]:focus {
    background-color: rgb(0, 190, 171);
    color: white;
}

input[type="submit"] {
    background-color: rgb(0, 190, 171);
    color: white;
    border: 1px solid transparent;
    padding: 7px;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: rgb(0, 190, 171);
    background-color: white;
    border: 1px solid rgb(0, 190, 171);
}

#header {
    width: 100vw;
    height: 75px;
    margin-top: -150px;
    padding: 10px;
    position: fixed;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 1px 2px 25px 13px rgb(0, 0, 0);
    background-color: white;
}

#logo {
    margin: 0;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'VT323';
    color: rgb(0, 190, 171);
    text-shadow: none;
    font-size: 2em;
}

.header-link {
    font-family: 'Rubik Doodle Shadow';
    color: rgb(93, 0, 255);
    border-bottom: 4px solid transparent;
    font-size: 1.6em;
    font-weight: bolder;
    margin: 15px;
    height: fit-content;
}

.header-link:hover {
    transition-duration: .4s;
    border-bottom: 4px solid rgb(93, 0, 255);
}

.seventyvw {
    width: 70vw;
}

.main-heading {
    font-size: 4em;
    margin-top: 0;
}

.yes-links a {
    text-decoration: underline;
    color: blue;
}

.yes-links a:active {
    text-decoration: underline;
    color: purple;
}