/* General */
::selection {
    background-color: #6f9dff;
    color:rgb(93, 0, 255);
}

body {
    background-color: rgb(192, 255, 255);
}

/* Hero */
#hero {
    text-align: left;
    width: 100vw;
    height: 100%;
    padding-left: 8%;
    padding-right: 8%;
}

#hero-text {
    color: rgb(0, 190, 171);
    font-size: 5em;
    font-family: 'MuseoModerno';
}

#hero-sub {
    color: rgb(0, 55, 97);
    font-size: 1.8em;
    display: inline;
}

#hero-text, #hero-sub {
    width: fit-content;
}

#hero-image {
    object-fit: scale-down;
}

#hero-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    position: absolute;
    top: 100px;
    right: 100px;

    /* The hover animation is in the JavaScript because I need to dynamically change the height of the container. */
}

@media only screen and (max-width: 1495px) {
    #hero-image-container {
        position: static;
        /* margin-left: auto;
        margin-right: auto; */
    }
}